.navbar-custome{
    /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAD 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) !important; */
    background:black !important;
    color: #FFFFFF !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;

}
.nav-link{
    color: #FFFFFF !important;
    font-size: 12px;
}
.section-2{
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    color: black;
}
.home-page-secton-1{
    /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAD 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%) !important; */
    background:black !important;
    color: white !important;
}
